DirectoryIndex ""
RewriteEngine On

# Redirect HTTP to HTTPS
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Proxy ke server Node.js Next.js di Port 3000
RewriteCond %{REQUEST_URI} ^/.*
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]
